* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #000;
  color: #fff;
  font-family: "Inter", sans-serif;
}

.home-container h2 {
  padding: 30px !important;
}
.search-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 30px 30px;
  gap: 30px;
}

input {
  padding: 12px 16px;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: #000;
  color: #a9a6a6;
  font-size: 20px;
  width: 91.5vw;
}

.btn {
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: #cfcdcd;
}

.btn:active {
  box-shadow: none;
  transform: translateY(0);
}

.knowMoreBtn {
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  cursor: pointer;
  width: 90% !important;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.knowMoreBtn:hover {
  background-color: #cfcdcd;
  letter-spacing: 2px;
  transition: all 0.3s ease-in-out;
}
.results-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-evenly;
  align-items: center;
}
.movie-card {
  border: 2px solid #fff;
  border-radius: 6px;
  width: 300px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: all 0.3s ease-in-out;
}
.movie-card:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.05);
}
.movie-details {
  padding: 15px;
  width: 100% !important;
}
.movie-details h3 {
  padding: 5px 15px 5px 0;
  overflow-wrap: break-word;
}
.movie-card img {
  height: 400px;
  max-height: 400px;
  width: 100%;
}
@media only screen and (max-width: 644px) {
  input{
    width: 80.5vw;
  }
.results-container{
  gap: 10px;
  padding: 0px 5px;
  justify-content: center;
}
.movie-card{
  width: 182px;
}
.movie-card img {
  height: 300px;
  max-height: 300px;
  width: 100%;
}
.movie-details{
  padding: 10px 5px;
}
.knowMoreBtn{
  padding: 7px 17px;
}
}