.movie-details-page{
  height: 100vh;
  background-color: #1a1a1a;
}
.movie-details-container {
  height: fit-content;
  background-color: #1a1a1a;
  display: flex;
  flex-direction: inherit;
  align-items: center;
  padding: 40px;
  color: #d1cfcf;
  height: fit-content;
  font-family: 'Inter', sans-serif;
  }
  h1{
    padding: 20px;
  }
  .movie-details-container .plot{
    padding-top: 20px;
  }
  p{
    font-size: 18px;
    padding: 5px 15px;
  }
  .movie-poster {
    width: 300px;
    height: 450px;
    margin-bottom: 30px;
  }
  .loader{
    background-color: #1a1a1a;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .info-section {
    display: flex;
    flex-direction: inherit;
    justify-content: flex-start;
    padding: 10px;
  }
  @media only screen and (max-width: 877px) {
    .movie-details-container{
      flex-wrap: wrap;
      justify-content: center;
    }
    .info-section{
      justify-content: space-between;
    }
  }